<!-- <body>

<section class="categories">
  <h2>Job Categories</h2>
  <ul>
      <li *ngFor="let category of categories" (click)="onCategoryClick(category)">{{ category }}</li>
  </ul>
</section>

<section class="job-listings">
  <h2>Job Postings</h2>
  <div *ngFor="let post of jobPosts" class="job-post">
      <h3>{{ post.title }}</h3>
      <p>{{ post.company }}</p>
      <p>{{ post.location }}</p>
  </div>
</section>
</body> -->
<!-- <h2>All categories</h2>
<select id="category-list" (change)="onCategoryChange($event.target)">
  <option value="all">All Categories</option>
  <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
</select> -->
<!-- 
<div *ngIf="selectedCategory === 'all'">
  <div *ngFor="let category of Object.keys(jobListings)">
    <h2>{{ category }}</h2>
    <pre>{{ jobListings[category] | json }}</pre>
  </div>
</div>

<div *ngIf="selectedCategory !== 'all'">
  <h2>{{ selectedCategory }}</h2>
  <pre>{{ jobListings[selectedCategory] | json }}</pre>
</div> -->























<!-- job-search.component.html -->
<!-- <div class="search-container">
    <input type="text" (ngModel)="searchTerm" placeholder="Search Jobs">
    <button (click)="search()">Search</button>
  </div> -->
<!-- <h2>Job Listings</h2>
<div *ngFor="let job of jobs" class="job-listing">
    <h3>{{ job.title }}</h3>
    <p>{{ job.company }}</p>
    <p>{{ job.location }}</p>
    <a href="#">View Details</a>
</div> -->
