body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}

.header-fixed {
  background-color: #292b2b;
  box-shadow: 0 1px 1px #ccc;
  /* padding: 28px 40px; */
  /* height: 200px; */
  color: #ffffff;
  box-sizing: border-box;
  /* top: -100px; */
  font-size: 26px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

/* Default styles for larger screens */
.header-limiter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  /* background-color: #f8f8f8; */
}

.header-limiter h1 a {
  margin: 0;
  font-size: 48px;
  text-decoration: none;
  color: white;
}

.header-limiter nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header-limiter nav ul li {
  display: inline;
}

.header-limiter nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.post-job-btn,
.logout-btn {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn {
  background-color: #dc3545;
  margin-left: -100px;
}

@media (max-width: 768px) {
  .header-limiter {
    flex-direction: column;
    text-decoration: none;
    /* align-items: flex-start; */
  }

  .header-limiter h1 {
    margin-bottom: 10px;
    margin-top: -10px;
  }

  .header-limiter nav ul {
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    font-size: 14px;
  }

  .post-job-btn,
  .logout-btn {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
  }
}

@media (max-width: 480px) {

  .header-limiter h1 a {
    font-size: 35px;
  }

  .post-job-btn,
  .logout-btn {
    padding: 8px 16px;
    font-size: 14px;
    margin-left: auto;
  }
}
