<div class="container-custom">

  <h1 class="text-center">Job List</h1>

  <ul class="list-unstyled job-list">

  <!-- <ul class="job-list"> -->
    <li *ngFor="let job of jobs; let i = index" class="job-item">
      <div class="job-container" (click)="toggleDescription(i)">

        <p><strong>Id:</strong> {{job.id}}</p>
        <p><strong>Category:</strong> {{job.category}}</p>
        <p><strong>Country:</strong> {{job.country}}</p>
        <p><strong>Company:</strong> {{job.company}}</p>
        <p><strong>Location:</strong> {{job.location}}</p>

        <button class="apply-button" (click)="applyOrRedirect(job)" [disabled]="job.applied">Apply Now</button>
        <button class="applied-button" *ngIf="job.applied" disabled>Applied</button>

      </div>
    </li>
  </ul>
</div>
