<footer>
  <div class="footer-section">
  <div class="container">
    <div class="footer-company">
      <h3>Company</h3>

      <a href="#">About</a>
      <a href="#">Jobs</a>
      <a href="#">Blog</a>
      <a href="#">Careers</a>
    </div>

    <div class="footer-product">
      <h3>Information</h3>
      <a href="#">About Us</a>
      <a href="#">Seller Agreement</a>
      <a href="#">Return & Refund Policy</a>
      <a href="#">Terms of service Agreement</a>

    </div>

    <div class="footer-help">
      <h3>HelpCenter</h3>

      <a href="#">Community</a>
      <a href="#">Knowledge Base</a>
      <a href="#">Academy</a>
      <a href="#">Support</a>

    </div>

    <div class="footer-download">
      <div class="footer-link">

        <h1>Contact Us</h1>
        <h2>Address :</h2>
        <p>G-44/45, Platinum Point, opp. CNG Pump, Hans Society, Mota Varachha, Surat, Gujarat 394101</p>
        <h2>Info :</h2>
        <p>+91 123 451 23 45</p>
        <p>abc@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="bottom-footer">
    <!-- <div class="container"> -->
    <p>Copyright @2024 Aspire. All Rights Reserved.</p>
    <p>Terms & Conditions ~ Privacy Policy</p>
    <!-- </div> -->
  </div>
  </div>
</footer>
