<h1>Welcome to Admin Panel</h1>

<div *ngIf="!isLoggedIn">

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="login">

      <h2>Login</h2>

      <div>
        <label for="username">Username : </label>
        <input type="username" formControlName="username">
      </div>

      <div>
        <label for="password">Password : </label>
        <input type="password" formControlName="password">
      </div>

      <button type="submit">Login</button>
      <a href="#" class="forgot-password-link" (click)="changePassword()">Forgot Password?</a>

    </div>

  </form>
</div>


<div *ngIf="isLoggedIn">

  <div class="container">

    <div class="left-panel">

      <h1>Admin Panel</h1>

      <div class="recruiter" *ngIf="isLoggedIn">
        <h2 (click)="toggleRecruiters()">Recruiter List</h2>
      </div>

      <div class="recruiter" *ngIf="isLoggedIn">
        <h2 (click)="togglePassword()">Change password</h2>
      </div>

    </div>

    <!-- right panel -->
    <div class="right-panel">

      <div class="recruiter_box">

        <div class="recruiter_box" *ngIf="showRecruitersPanel">

          <div class="recruiter">

            <h1>Recruiter List</h1>

            <h2>Add Recruiter List</h2>

            <input type="text" placeholder="Enter recruiter name" [(ngModel)]="recruiterName">
            <input type="text" placeholder="Enter recruiter email" [(ngModel)]="recruiterEmail">
            <input type="text" placeholder="Enter recruiter category" [(ngModel)]="recruiterCategory">
            <button (click)="addRecruiter()" class="add-button">ADD</button>

            <h2>Recruiters List</h2>

            <div *ngIf="recruiters.length === 0">
              <p>No recruiters found.</p>
            </div>

          </div>

          <!-- show recruter list -->
          <div class="recruiter-list">

            <div *ngFor="let recruiter of recruiters; let i = index" class="recruiter-item">
              <div class="recruiter-details">

                <input type="text" [(ngModel)]="recruiter.name" placeholder="Enter name"
                  [disabled]="editingIndex !== i">

                <input type="email" [(ngModel)]="recruiter.email" placeholder="Enter email"
                  [disabled]="editingIndex !== i">

                <input type="text" [(ngModel)]="recruiter.category" placeholder="Enter category"
                  [disabled]="editingIndex !== i">

                <button (click)="updateRecruiter()" *ngIf="editingIndex === i">UPDATE</button>
                <button (click)="editRecruiter(i)" *ngIf="editingIndex !== i">EDIT</button>
                <button (click)="deleteRecruiter(i)">DELETE</button>
                <button class="block-button" (click)="blockRecruiter(recruiter)"
                  [ngClass]="{ 'blocked': recruiter.blocked }">
                  {{ recruiter.blocked ? 'BLOCK' : 'UNBLOCK' }}
                </button>

              </div>
            </div>
          </div>
          <!--  -->
        </div>

        <div class="recruiter_box" *ngIf="showchangePassword">

          <div class="change-password">
            <h2>Change Password</h2>

            <input type="password" placeholder="Enter current password" [(ngModel)]="currentPassword">
            <input type="password" placeholder="Enter new password" [(ngModel)]="newPassword">
            <input type="password" placeholder="Confirm new password" [(ngModel)]="confirmPassword">
            <button (click)="changePassword()">Change Password</button>

          </div>

        </div>
        <!--  -->

      </div>
    </div>
  </div>
